.AboutMeSection {
text-align: left;

}
.ColoredList{
    list-style: none;
}
.ColoredList li{
padding: 5px;    display: inline;
    
}


.education {
    text-align: center;
}

.wantMoreInformation{
    text-align: center
}

.clickhere{
    text-align: center
}
.education a{
    color: black;
    
  
  }
  .education a:hover,
  .education a:active{
    color: #c34271; 
  }