.AboutMeSection {
text-align: left;
}
.ColoredList{
    text-align: left;
    list-style: none;
}


.education {
    text-align: left;
}
.wantMoreInformation{
    text-align: center
}

.clickhere{
    text-align: center
}