.AboutMeSection {
text-align: left;
width: 100vw;
height: 100vw;

}
.AboutmeParagraph{
    margin-left: auto;
    margin-right: auto;
    /* 400 is good for phones */

    width: 600px;
    text-align: left
}


.moreInfo{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: left

}
.education {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: left

}


.clickhere{

}
.education a{
    color: black;
    
  
  }
  .education a:hover,
  .education a:active{
    color: #c34271; 
  }