.view{
  height:100vh;
  width:100vw;
  background-color: aquamarine;


}
.largerText{
  font-size: 30px;
}
.TypedStrings{
    font-size: 100px;
    margin-top: 5%;
    
    flex-wrap: wrap;
    
    }
    @media screen and (max-width: 500px) {
      .TypedStrings {
              overflow-x: hidden !important;
          
              max-width: 100% !important;
              overflow-x: hidden !important;
          
          margin-top: 10%;
        flex: 100%;
        font-size: 25px;

      }
      .view{padding-top: 10%}
      .largerText{font-size: 15px}
    }

    @media screen and (max-width: 800px) {
      .TypedStrings {
          
              overflow-x: hidden !important;
              font-size: 35px;

              max-width: 100% !important;
              overflow-x: hidden !important;
          
          margin-top: 10%;
        flex: 100%;
      }
      .largerText{font-size: 20px}

    }
     /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
     @media screen and (max-width: 600px) {
        .TypedStrings {
            
                overflow-x: hidden !important;
            
                max-width: 100% !important;
                overflow-x: hidden !important;
            
            margin-top: 10%;
          flex: 100%;
        }
      }